    <article class="post">
      <div class="post_title">
        <a href="/post/{{id}}" class="post_title">{{title}}</a>
        <span class="post_title"> produced by {{user.username}} on {{format_date created_at}}</span>
      </div>
      <div class="post_text">
        <p>{{post_text}}</p>
      </div>
    </article>