<section class="new-post">
  <form class="new-post-form">
    <h2>Create New Post</h2>
    <div id="post-title-section">
      <label for="post-title">Title</label><br>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div id="post-text-section">
      <label for="post-text">Content</label><br>
      <textarea id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" id="btn">Create</button>
  </form>

  <button class="new-form"><span>+</span>New Post</button>
</section>

{{#if posts.length}}
<section>
  <ul>
    {{#each posts as |post|}}
    <li>
      <article id="post-dashboard">
        <div class="post_title">
          <a id="post-titles" href="/dashboard/edit/{{post.id}}" class="post_title">{{title}}</a>
          <span class="post_title"> produced by {{user.username}} on {{format_date created_at}}</span>
        </div>
      <div class="post_text">
        <p>{{post_text}}</p>
      </div>
    </article>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<script src="/javascript/manipulate-dom.js"></script>
<script src="/javascript/add-post.js"></script>